.admin-container {
    display: inline-flex; /* or inline-flex */
    flex-direction: row;
    width: 100%;
  }

.app-main{
    flex-grow: 6;
    background-color: #f8f2ec;
}

#kt_app_root{
    width: 100%;
    min-height: 100vh;
    background-color: #f8f2ec;
}
.app-sidebar{
    flex-grow: 2;
    background-color: #f8f2ec;

}

.app-root{
    color: rgb(17, 17, 17);

}

.menu-link{
    color: rgb(17, 17, 17);
    font-weight: bolder;
    margin: 5px;
    padding: 10px 30px;
    width: 200px;
    border-radius: 15px;
}

.menu-link:hover{
    background-color: #e9ded3;
}

.flex-column-fluid{
    background-color: #fff;
    margin: 30px;
    border-radius: 30px;
}

.page-heading-h1{
    font-size: 1.5em;
    padding: 0;
}

.page-title-admin{
    margin: 0;
}

.app-header{
    background-color: #f8f2ec;
}

.fw-bold{
    color: #000;
    font-weight: bolder;
    font-size: 1.2em;
}

.admin-active{
    background-color: #e9ded3;
}

.form-select-solid{
    color: #383838;
}

.ticket-search-form .form-group input[type="submit"] {
    background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border-radius: 30px;
    width: auto;
    padding: 0 30px;
    height: 50px;
    text-transform: uppercase;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #23334f;
}

.color-option{
    color: #000;
}