.admin-container {
    display: inline-flex; /* or inline-flex */
    flex-direction: row;
    width: 100%;
  }

.app-main{
    flex-grow: 6;
    background-color: #f8f2ec;
}

#kt_app_root{
    width: 100%;
    min-height: 100vh;
    background-color: #f8f2ec;
}
.app-sidebar{
    flex-grow: 2;
    background-color: #f8f2ec;

}

.app-root{
    color: rgb(17, 17, 17);

}

.menu-link{
    color: rgb(17, 17, 17);
    font-weight: bolder;
    margin: 5px;
    padding: 10px 30px;
    width: 200px;
    border-radius: 15px;
}

.menu-link:hover{
    background-color: #e9ded3;
}

.flex-column-fluid{
    background-color: #fff;
    margin: 30px;
    border-radius: 30px;
}

.page-heading-h1{
    font-size: 1.5em;
    padding: 0;
}

.page-title-admin{
    margin: 0;
}

.app-header{
    background-color: #f8f2ec;
}

.fw-bold{
    color: #000;
    font-weight: bolder;
    font-size: 1.2em;
}

.admin-active{
    background-color: #e9ded3;
}

.form-select-solid{
    color: #383838;
}

.ticket-search-form .form-group input[type="submit"] {
    background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border-radius: 30px;
    width: auto;
    padding: 0 30px;
    height: 50px;
    text-transform: uppercase;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #23334f;
}

.color-option{
    color: #000;
}

.info-area {
    width: 100%;
    max-width: 1100px;
    padding: 60px 45px;
    margin: 0 auto;
    background-color: rgba(68, 90, 153, 0.051);
    -webkit-box-shadow: 0px 0px 29.4px 0.6px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 29.4px 0.6px rgba(0, 0, 0, 0.5);
  }
  
  .info-area .section-header-3 {
    margin-bottom: 27px;
  }
  
  @media (min-width: 576px) {
    .info-area .section-header-3 {
      margin-bottom: 37px;
    }
  }
  
  .info-area .section-header-3 .title {
    margin-bottom: 0;
  }
  
  @media (min-width: 576px) {
    .info-area .section-header-3 .title {
      font-size: 40px;
    }
  }
  
  .info-area .account-form .form-group {
    margin-bottom: 22px;
  }
  
  .info-area .account-form .form-group label {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .info-area .account-form .form-group label span {
    color: #f1481f;
  }
  
  .info-area .account-form .form-group input {
    height: 45px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #23334f;
    padding-left: 0;
  }
  
  .info-area .account-form .form-group input::-webkit-input-placeholder {
    color: #4c588f;
  }
  
  .info-area .account-form .form-group input:-ms-input-placeholder {
    color: #4c588f;
  }
  
  .info-area .account-form .form-group input::-ms-input-placeholder {
    color: #4c588f;
  }
  
  .info-area .account-form .form-group input::placeholder {
    color: #4c588f;
  }
  
  .info-area .account-form .form-group input:focus {
    border-color: #f1481f;
  }
  
  .info-area .account-form .form-group input[type="submit"] {
    background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border-radius: 30px;
    width: auto;
    padding: 0 50px;
    height: 50px;
    text-transform: uppercase;
    margin: 0 auto;
  }
  
  .info-area .account-form .form-group input[type="submit"]:hover {
    -webkit-box-shadow: 0px 10px 15px 0px rgba(59, 55, 188, 0.5);
            box-shadow: 0px 10px 15px 0px rgba(59, 55, 188, 0.5);
  }
  
  .info-area .account-form .form-group.checkgroup {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  
  .info-area .account-form .form-group.checkgroup input {
    width: 16px;
    height: 0px;
    border-radius: 50%;
    position: relative;
  }
  
  .info-area .account-form .form-group.checkgroup input::after {
    bottom: -21px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #3d34c3;
    color: #ffffff;
    font-weight: 600;
    font-family: "Font Awesome 5 Free";
    font-size: 8px;
    line-height: 16px;
    text-align: center;
  }
  
  .info-area .account-form .form-group.checkgroup input:checked::after {
    content: "\f00c";
  }
  
  .info-area .account-form .form-group.checkgroup label {
    color: #6d7bba;
    font-size: 14px;
    max-width: calc(100% - 15px);
    padding-left: 5px;
    margin-bottom: 0;
    margin-right: auto;
    text-transform: capitalize;
  }
  
  .info-area .account-form .form-group.checkgroup label a {
    color: #31d7a9;
  }
  
  @media screen and (max-width: 425px) {
    .info-area .account-form .form-group.checkgroup label {
      font-size: 12px;
    }
  }
  
  .info-area .account-form .form-group.checkgroup .forget-pass {
    color: #6d7bba;
    text-transform: capitalize;
    font-size: 14px;
  }
  
  @media screen and (max-width: 425px) {
    .info-area .account-form .form-group.checkgroup .forget-pass {
      font-size: 12px;
    }
  }
  
  .info-area .option {
    text-align: center;
    margin-bottom: 28px;
  }
  
  .info-area .option a {
    color: #31d7a9;
  }
  
  .info-area .or {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .info-area .or span {
    position: relative;
  }
  
  .info-area .or span::after, .info-area .or span::before {
    background-color: #bdbdbd;
    opacity: 0.502;
    height: 2px;
    width: 500px;
    top: 10px;
  }
  
  .info-area .or span::after {
    left: calc(100% + 40px);
  }
  
  .info-area .or span::before {
    right: calc(100% + 40px);
  }
  
  .info-area .social-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .info-area .social-icons li a.active {
    border-color: #001232;
    background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
  }
  
  @media screen and (max-width: 450px) {
    .info-area {
      padding: 40px 15px;
    }
  }




  .info-area .account-form .form-group select {
    height: 45px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #23334f;
    padding-left: 0;
  }
  
  .info-area .account-form .form-group select::-webkit-select-placeholder {
    color: #4c588f;
  }
  
  .info-area .account-form .form-group select:-ms-input-placeholder {
    color: #4c588f;
  }
  
  .info-area .account-form .form-group select::-ms-input-placeholder {
    color: #4c588f;
  }
  
  .info-area .account-form .form-group select::placeholder {
    color: #4c588f;
  }
  
  .info-area .account-form .form-group select:focus {
    border-color: #f1481f;
  }
  
  .info-area .account-form .form-group.checkgroup select {
    width: 16px;
    height: 0px;
    border-radius: 50%;
    position: relative;
  }
  
  .info-area .account-form .form-group.checkgroup select::after {
    bottom: -21px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #3d34c3;
    color: #ffffff;
    font-weight: 600;
    font-family: "Font Awesome 5 Free";
    font-size: 8px;
    line-height: 16px;
    text-align: center;
  }
  
  .info-area .account-form .form-group.checkgroup select:checked::after {
    content: "\f00c";
  }
  
  .select-tag{
    color: #000;
  }
